<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
<p>Welcome to our initiative dedicated to making a positive impact on the community. At Prajaahar Rakshak, we believe in addressing food wastage and ensuring that no fresh and edible food goes to waste.</p>

<p>Our approach involves collecting surplus food from:</p>
<ul>
    <li>Restaurants</li>
    <li>Catering services</li>
    <li>Individuals</li>
</ul>

<p>We have established partnerships with local businesses and individuals who generously contribute fresh, untouched food that might otherwise go unused.</p>

<p>Our dedicated team then works diligently to distribute this collected food to:</p>
<ul>
    <li>Local food banks</li>
    <li>Orphanages</li>
    <li>Non-Governmental Organizations (NGOs)</li>
    <li>Needy individuals</li>
</ul>

<p>By redirecting surplus food to those in need, we aim to minimize food wastage, alleviate hunger and contribute to the overall well-being of our community.</p>

<p>Join us in our journey to create a world where everyone has access to fresh and nutritious meals!</p>
</div>