
<h1 class="m-4 color-theme">Contact us</h1>	
<div class="bg-white m-4 p-4 shadow">
<p>If you have any concerns or inquiries, feel free to reach out to us. Our dedicated team is here to assist you. You can contact us through the following channels:</p>

<h2>Visit Our Offices:</h2>
<p>Get insights into how our agents serve food at different places by visiting our offices:</p>
<address>
    <p>Kondhwa Office:</p>
    <p>Address: XYZ Nagar, Kondhwa, Pune</p>
</address>

<address>
    <p>Bibwewadi Office:</p>
    <p>Address: XYZ Vihar, Bibwewadi, Pune</p>
</address>

<h2>Email Us:</h2>
<ul>
    <li>Atharva Kulkarni: <a href="mailto:atharva.kulkarni223@vit.edu">atharva.kulkarni223@vit.edu</a></li>
</ul>

<p>We value your suggestions and feedback. Feel free to email us. We appreciate your input and strive to continually improve our services.</p>

</div>